version: '3.3'

services:
  vps2_core:
    container_name: docker-12-core
    image: docker/12/core
    restart: always
    build:
      dockerfile: ./Docker/Dockerfile
      context: .
    working_dir: /Application
    volumes:
      - .:/Application
    tmpfs:
      - /tmp/r3m/io
    command: ['/usr/bin/init']
    ports:
      - "80:80"
      - "443:443"
    networks:
      - r3m-network
networks:
  r3m-network:
    driver: bridge
